.general
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

    .tables
        width: calc(100% - 120px)

        table
            &.employee-id
                margin-top: 0

    .profile-img-wrapper
        width: 100px
        height: 100px
